/* FLEXBOX ORDERING */
/* MOVE YOUR DOM ELEMENTS WITH TOUCHING YOUR HTML! */

.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
	padding: 10px;
}

.box1 { background-color: #1abc9c; }
.box2 { background-color: #3498db; }
.box3 { background-color: #9b59b6; }
.box4 { background-color: #34495e; }
.box5 { background-color: #f1c40f; }
.box6 { background-color: #e67e22; }
.box7 { background-color: #e74c3c; }
.box8 { background-color: #bdc3c7; }
.box9 { background-color: #2ecc71; }
.box10 { background-color: #16a085; }

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.box {
/* flex: 1 means distribute evenly */
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 0;
}

.box3 {
	/* default is 0 */
	/* anything greater 0 is placed at the end of the flex, in sequence*/
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
}

.box7 {
	-webkit-box-ordinal-group: -1;
	    -ms-flex-order: -2;
	        order: -2;
}
