.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
	padding: 10px;
}

.box1 { background-color: #1abc9c; }
.box2 { background-color: #3498db; }
.box3 { background-color: #9b59b6; }
.box4 { background-color: #34495e; }
.box5 { background-color: #f1c40f; }
.box6 { background-color: #e67e22; }
.box7 { background-color: #e74c3c; }
.box8 { background-color: #bdc3c7; }
.box9 { background-color: #2ecc71; }
.box10 { background-color: #16a085; }

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 10px solid goldenrod;
	min-height: 100vh;

	/* GOOD NEWS! Flexbox is a lot more forgiving than float */
	/* flex-wrap allows us to dictate what happens with spill over */
	/* where's the height come from? The browser handles the calculations based upon the flow of the items */
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
			/* wrap-reverse wraps AND reverses items along the cross-axis */
			/* -ms-flex-wrap: wrap-reverse;
			    flex-wrap: wrap-reverse; */
}

.box {
	/* with  */
	width: calc(33.3333333% - 20px);
	/* you'll note that margin is broken here, it isn't part of the box model */
	/* padding and border, however, can be calculated when box-sizing is set */
	padding: 10px;
}
